@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Noto+Sans:wght@300;400;500;600;700&family=Oswald&family=Overpass+Mono:wght@300;400;500;600;700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    background-color: #D9DDDC;
    font-family: "Overpass Mono", sans-serif;
}

/* Homepage */

    /* Navigation Bar */
    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
        background-color: white;
    }

    .logo {
        max-width: 100px;
        height: auto;
        margin-right: 15px;
    }

    .left-icons {
        display: flex;
        align-items: center;
    }

    .icon-container {
        background-color: #67809f;
        padding: 5px;
        margin: 0 5px;
        display: flex;
        border-radius: 20%;
        justify-content: center;
        align-items: center;
        height: 40px;
        box-shadow: 0px 0px 10px 0px ;
    }

    .icon-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 30px;
        color: #34495E;
        transition: 0.3s ease;
    }

    .icon-container a:hover {
        color: #34495E;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        background-color: #67809f;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    }

    nav ul li {
        padding: .7vw 2vw;
    }

    nav ul li a {
        text-decoration: none;
        font-size: 1.1vw;
        font-weight: 700;
        color: #FFFFFF;
        font-family: "Overpass Mono", sans-serif;
        transition: 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: #34495E;
    }


    /* End of Navigation Bar */

    /* Content */
    .container {
        width: 80%;
        margin: 50px auto;
        overflow: hidden;
    }

    .wrapper {
        display: flex;
        max-width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    img {
        flex: 0 0 25%;
        height: auto;
        max-width: 100%;
        display: block;
        margin: 5px;
    }

    .best-selling {
        display: grid;
        margin-top: 50px;
        text-align: center;
        padding: 20px;
        max-width: 80%;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
    }

    .best-selling h2 {
        margin-bottom: 20px;
        font-family: Oswald, sans-serif;
        font-size: 40px;
        color: #34495E;           
    }

    .image-container {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .bestSellingProducts{
        width: 100%;
        display: grid;
        
    }

    .bestSellingProducts a{
        text-decoration: none;
    }

    .bestSellingProducts h3 {
        color: #000;
        font-family: Noto Sans;
        font-size: 1vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding-left: 1vw;
    }

    .bestSellingProducts p {
        color: #595959;
        font-family: Noto Sans;
        font-size: 1vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding-left: 1vw;
    }

    .bestSellingProducts button{
        height: 5vh;
        border: 0;
        background-color: #4B4B4B;
        border-radius: 8px;
        color: white;
        font-family: "Overpass Mono";
        font-weight: 800;
        font-size: 1.4vw;
        width: 100%;
        cursor: pointer;
    }

    .product-info {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    /* End of Content */


    /* Footer */
    footer {
        background-color: #D9DDDC;
        padding: 20px 0;
        font-family: 'Noto Sans', sans-serif;
    }

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .footer-section h4 {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #34495E;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 5px;
    }

    ul li a {
        color: #4B4B4B;
        text-decoration: none;
        transition: color 0.3s;
        font-weight: 600;
    }

    ul li a:hover {
        color: #34495E;
    }

    .footer-bottom {
        background-color: #34495E;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        font-weight: 500;
    }

    .combined-section {
        flex: 1;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .combined-section h4 {
        font-size: 1em;
        margin-bottom: 10px;
        color: white;
    }

    .social-icons {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: left;
        gap: 20px;
    }

    .social-icons li {
        display: inline-block;
    }

    .social-icons li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-size: 14px;
        transition: background-color 0.3s;
    }

    /* End of Footer */

/* End of Homepage */